# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# ignore lib files
/lib
lib/
contracts/lib/

# Docs
docs/

# Dotenv file
.env

# Website build artifacts and dependencies
website/node_modules/
website/dist/
